# Node
node_modules/
npm-debug.log*

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/tfplan
terraform/*.tfstate
terraform/*.tfstate.backup

# Environment variables
.env
.env.*

# macOS
.DS_Store

# Helm
*.tgz
charts/

# Kubernetes secrets
*-secret.yaml
kubernetes/secretprovider.yaml
